Repository apache/tvm, changes with the owners that CODEOWNERS names for each.
All owners: @dmlc/tvm-committers, @aatluri, @javelinjs, @Laurawly, @Huyuwei

CODEOWNERS:

# Github owner file
# List of code reviewers for TVM modules

# Global reviewers
*        @dmlc/tvm-committers

# LLVM backends
src/llvm/*          @aatluri

# ROCM runtime
src/runtime/rocm/*    @aatluri

# JVM language
jvm/*   @javelinjs

# TOPI
topi/python/topi/*  @Laurawly @Huyuwei

Generate tvm_get_texel function in GLSL for cleaner code.
  src/codegen/codegen_opengl.cc
  src/runtime/opengl/opengl_module.cc
Owners: @dmlc/tvm-committers

Format OpenGL code.
  src/codegen/codegen_opengl.cc
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
Owners: @dmlc/tvm-committers

- address review comments; - fix opengl func param retrieval; - can save opengl module locally; - working on loading opengl module in browser.
  include/tvm/runtime/device_api.h
  include/tvm/schedule.h
  python/tvm/contrib/rpc.py
  src/codegen/codegen_opengl.cc
  src/runtime/c_runtime_api.cc
  src/runtime/cpu_device_api.cc
  src/runtime/cuda/cuda_device_api.cc
  src/runtime/metal/metal_common.h
  src/runtime/metal/metal_device_api.mm
  src/runtime/opencl/opencl_common.h
  src/runtime/opencl/opencl_device_api.cc
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
  src/runtime/rocm/rocm_device_api.cc
  src/runtime/rpc/rpc_device_api.cc
  src/runtime/rpc/rpc_session.cc
  src/runtime/workspace_pool.cc
  tests/webgl/test_local_save_load.py
  tests/webgl/test_remote_save_load.py
Owners: @dmlc/tvm-committers, @aatluri

add remote.download("myadd.tvm_meta.json")
  tests/webgl/test_remote_save_load.py
Owners: @dmlc/tvm-committers

introduce Program class
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
Owners: @dmlc/tvm-committers

change glad to be submodule
  .gitmodules
  CMakeLists.txt
  src/runtime/opengl/glad/.gitignore
  src/runtime/opengl/glad/README.md
  src/runtime/opengl/glad/include/KHR/khrplatform.h
  src/runtime/opengl/glad/include/glad/glad.h
  src/runtime/opengl/glad/include/glad/glad_egl.h
  src/runtime/opengl/glad/include/glad/glad_glx.h
  src/runtime/opengl/glad/include/glad/glad_wgl.h
  src/runtime/opengl/glad/src/glad.c
  src/runtime/opengl/glad/src/glad_egl.c
  src/runtime/opengl/glad/src/glad_glx.c
  src/runtime/opengl/glad/src/glad_wgl.c
  src/runtime/opengl/opengl_common.h
Owners: @dmlc/tvm-committers

remove glad, add temporary rpc opengl test
  .gitmodules
  CMakeLists.txt
  Makefile
  python/tvm/exec/rpc_proxy.py
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
  src/runtime/rpc/rpc_module.cc
  src/runtime/rpc/rpc_session.cc
  src/runtime/rpc/rpc_session.h
  tests/web/websock_rpc_test_opengl.py
  web/example_rpc.html
  web/web_runtime.cc
Owners: @dmlc/tvm-committers

introduct Texture class
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
Owners: @dmlc/tvm-committers

Remove OpenGLWorkspace::Init(). Create glfw invisible window.
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
Owners: @dmlc/tvm-committers

Savepoint that works.
  CMakeLists.txt
  python/tvm/contrib/emscripten.py
  src/runtime/opengl/opengl_device_api.cc
Owners: @dmlc/tvm-committers

GLSL output now has type float.
  src/codegen/codegen_opengl.cc
Owners: @dmlc/tvm-committers

Now tests/webgl/test_remote_save_load.py succeeds.
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/rpc/rpc_device_api.cc
  src/runtime/rpc/rpc_session.cc
  tests/webgl/test_local_save_load.py
  tests/webgl/test_remote_save_load.py
Owners: @dmlc/tvm-committers

OpenGL backend skeleton
  CMakeLists.txt
  src/codegen/codegen_opengl.cc
  src/codegen/codegen_opengl.h
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
  src/runtime/opengl/opengl_module.h
Owners: @dmlc/tvm-committers

use tvm logs
  src/runtime/opengl/opengl_device_api.cc
Owners: @dmlc/tvm-committers

Slightly improve comments.
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
Owners: @dmlc/tvm-committers

Use dmlc/dlpack again. We should send a PR to dmlc/dlpack later.
  .gitmodules
  src/runtime/opengl/opengl_device_api.cc
Owners: @dmlc/tvm-committers

Add tests/webgl/test_local_gemm.py
  tests/webgl/test_local_gemm.py
Owners: @dmlc/tvm-committers

Cleanup.
  CMakeLists.txt
  include/tvm/runtime/device_api.h
  include/tvm/schedule.h
  python/tvm/target.py
  src/codegen/codegen_opengl.cc
  src/codegen/codegen_opengl.h
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
  src/runtime/opengl/opengl_module.h
  tests/webgl/test_remote_save_load.py
  web/tvm_runtime.js
Owners: @dmlc/tvm-committers

Support reduction. Now this program runs correctly:
  src/codegen/build_opengl.cc
  src/codegen/codegen_opengl.cc
  src/schedule/schedule_lang.cc
Owners: @dmlc/tvm-committers

Remove temporary RPC test.
  CMakeLists.txt
  src/codegen/verilog/vpi_device_api.cc
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
  src/runtime/rpc/rpc_module.cc
  src/runtime/rpc/rpc_session.cc
  src/runtime/rpc/rpc_session.h
  tests/web/websock_rpc_test_opengl.py
  tests/webgl/test_remote_save_load.py
Owners: @dmlc/tvm-committers

Add opengl schedule. This schedule just fuses all dimensions into one, and bind that single dimension to threadIdx.x.
  include/tvm/schedule.h
  python/tvm/schedule.py
  src/api/api_lang.cc
  src/codegen/codegen_opengl.cc
  src/codegen/codegen_opengl.h
  src/schedule/schedule_lang.cc
Owners: @dmlc/tvm-committers

Several cleanups.
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
Owners: @dmlc/tvm-committers

import glfw and glad in cmakelist.txt
  CMakeLists.txt
  src/runtime/opengl/glad/.gitignore
  src/runtime/opengl/glad/README.md
  src/runtime/opengl/glad/include/KHR/khrplatform.h
  src/runtime/opengl/glad/include/glad/glad.h
  src/runtime/opengl/glad/include/glad/glad_egl.h
  src/runtime/opengl/glad/include/glad/glad_glx.h
  src/runtime/opengl/glad/include/glad/glad_wgl.h
  src/runtime/opengl/glad/src/glad.c
  src/runtime/opengl/glad/src/glad_egl.c
  src/runtime/opengl/glad/src/glad_glx.c
  src/runtime/opengl/glad/src/glad_wgl.c
Owners: @dmlc/tvm-committers

OpenGL codegen checks itervar binding.
  src/codegen/codegen_opengl.cc
  src/codegen/codegen_opengl.h
Owners: @dmlc/tvm-committers

Add 'type' parameter to AllocDataSpace.
  include/tvm/runtime/device_api.h
  src/runtime/c_runtime_api.cc
  src/runtime/cpu_device_api.cc
  src/runtime/cuda/cuda_device_api.cc
  src/runtime/metal/metal_common.h
  src/runtime/metal/metal_device_api.mm
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
  src/runtime/rocm/rocm_device_api.cc
  src/runtime/rpc/rpc_device_api.cc
  src/runtime/rpc/rpc_session.cc
  src/runtime/workspace_pool.cc
Owners: @dmlc/tvm-committers, @aatluri

partially add create program functions
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
Owners: @dmlc/tvm-committers

Support putting partial texture data.
  src/codegen/codegen_opengl.cc
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
Owners: @dmlc/tvm-committers

add memory allocation and memory copy code
  .gitmodules
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
Owners: @dmlc/tvm-committers

Very naive OpenGL codegen just to get one demo correct.
  src/codegen/codegen_c.h
  src/codegen/codegen_opengl.cc
  src/codegen/codegen_opengl.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
Owners: @dmlc/tvm-committers

Fix lint
  topi/include/topi/detail/array_utils.h
Owners: @dmlc/tvm-committers

Fix compile error
  topi/include/topi/nn/bnn.h
Owners: @dmlc/tvm-committers

Fix compiler warnings
  topi/include/topi/detail/extern.h
  topi/include/topi/detail/fuse.h
  topi/include/topi/detail/ravel_unravel.h
  topi/include/topi/nn.h
  topi/include/topi/nn/bnn.h
  topi/include/topi/nn/dilate.h
  topi/include/topi/nn/flatten.h
  topi/include/topi/reduction.h
  topi/include/topi/transform.h
Owners: @dmlc/tvm-committers

Fix compiler warnings
  topi/include/topi/nn/bnn.h
  topi/include/topi/reduction.h
  topi/include/topi/transform.h
Owners: @dmlc/tvm-committers

Fixed int vector interop. Fixed argmin incorrectly invoking argmax. Fixed corner case in default schedules of attempting to fuse 0 length axes. Added tests for reduce ops.
  topi/include/topi/detail/fuse.h
  topi/include/topi/generic/default.h
  topi/include/topi/reduction.h
  topi/include/topi/x86/default.h
  topi/python/topi/cpp.py
  topi/src/topi.cc
  topi/tests/python_cpp/test_topi_reduce.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

Disable OpenGL test temporary
  tests/scripts/task_python_integration.sh
Owners: @dmlc/tvm-committers

Disable OpenGL test temporary (#801)
  tests/scripts/task_python_integration.sh
Owners: @dmlc/tvm-committers

Disable OpenGL test temporary (#801)
  tests/scripts/task_python_integration.sh
Owners: @dmlc/tvm-committers

[DOC] Generalize the get_started script for beginners with different environments.
  tutorials/get_started.py
Owners: @dmlc/tvm-committers

Update setup.py
  python/setup.py
Owners: @dmlc/tvm-committers

Refactored reduce builders
  topi/include/topi/cuda/reduction.h
  topi/include/topi/reduction.h
Owners: @dmlc/tvm-committers
