Repository apache/tvm, changes with the owners that CODEOWNERS names for each.
All owners: @dmlc/tvm-committers, @aatluri, @javelinjs, @Laurawly, @Huyuwei

CODEOWNERS:

# Github owner file
# List of code reviewers for TVM modules

# Global reviewers
*        @dmlc/tvm-committers

# LLVM backends
src/llvm/*          @aatluri

# ROCM runtime
src/runtime/rocm/*    @aatluri

# JVM language
jvm/*   @javelinjs

# TOPI
topi/python/topi/*  @Laurawly @Huyuwei

Specify R to be computed inlined
  tests/python/integration/test_reduce.py
Owners: @dmlc/tvm-committers

Fix dependency problem of reducer condition (#712) (#721)
  .gitignore
  src/pass/ir_visitor.cc
  tests/python/integration/test_reduce.py
Owners: @dmlc/tvm-committers

Fix dependency problem of reducer condition (#712) (#721)
  .gitignore
  src/pass/ir_visitor.cc
  tests/python/integration/test_reduce.py
Owners: @dmlc/tvm-committers

fist working miopen support
  Makefile
  make/contrib/miopen.mk
  python/tvm/contrib/miopen.py
  src/contrib/miopen/conv_forward.cc
  src/contrib/miopen/miopen_utils.cc
  src/contrib/miopen/miopen_utils.h
  tests/python/contrib/test_miopen.py
Owners: @dmlc/tvm-committers

fix lint
  src/contrib/miopen/conv_forward.cc
  src/contrib/miopen/miopen_utils.cc
  src/contrib/miopen/miopen_utils.h
Owners: @dmlc/tvm-committers

do FindFwdAlgo during build time
  make/config.mk
  python/tvm/contrib/miopen.py
  src/contrib/miopen/conv_forward.cc
  src/contrib/miopen/miopen_utils.h
  tests/python/contrib/test_miopen.py
Owners: @dmlc/tvm-committers

update doc string
  python/tvm/contrib/miopen.py
Owners: @dmlc/tvm-committers

import topi after checking if rocm is enabled
  tests/python/contrib/test_miopen.py
  tests/scripts/task_python_unittest.sh
Owners: @dmlc/tvm-committers

add miopen namespace
  src/contrib/miopen/conv_forward.cc
  src/contrib/miopen/miopen_utils.cc
  src/contrib/miopen/miopen_utils.h
Owners: @dmlc/tvm-committers

[CODEGEN] enable static handle cache
  include/tvm/ir.h
  python/tvm/intrin.py
  src/codegen/llvm/codegen_cpu.cc
  src/codegen/llvm/codegen_cpu.h
  tests/python/unittest/test_codegen_static_init.py
Owners: @dmlc/tvm-committers

fixed descriptor overwrite bug
  python/tvm/contrib/miopen.py
  src/contrib/miopen/conv_forward.cc
  src/contrib/miopen/miopen_utils.h
Owners: @dmlc/tvm-committers

add use_miopen option
  python/tvm/target.py
Owners: @dmlc/tvm-committers

fix lint
  python/tvm/target.py
Owners: @dmlc/tvm-committers

[CODEGEN] enable static handle cache (#723)
  include/tvm/ir.h
  python/tvm/intrin.py
  src/codegen/llvm/codegen_cpu.cc
  src/codegen/llvm/codegen_cpu.h
  tests/python/unittest/test_codegen_static_init.py
Owners: @dmlc/tvm-committers

[CODEGEN] enable static handle cache (#723)
  include/tvm/ir.h
  python/tvm/intrin.py
  src/codegen/llvm/codegen_cpu.cc
  src/codegen/llvm/codegen_cpu.h
  tests/python/unittest/test_codegen_static_init.py
Owners: @dmlc/tvm-committers

update comment, fix for metal
  src/codegen/codegen_c.cc
  src/codegen/codegen_cuda.cc
  src/codegen/codegen_opencl.cc
  src/codegen/codegen_opencl.h
Owners: @dmlc/tvm-committers

better miopen option handling
  python/tvm/target.py
Owners: @dmlc/tvm-committers

[CODEGEN] update codegen for vector operation (#711)
  src/codegen/codegen_c.cc
  src/codegen/codegen_cuda.cc
  src/codegen/codegen_cuda.h
Owners: @dmlc/tvm-committers

[CODEGEN] update codegen for vector operation (#711)
  src/codegen/codegen_c.cc
  src/codegen/codegen_cuda.cc
  src/codegen/codegen_cuda.h
Owners: @dmlc/tvm-committers

fix typo
  python/tvm/target.py
Owners: @dmlc/tvm-committers

fix options handling
  python/tvm/target.py
Owners: @dmlc/tvm-committers

[ROCM] MIOpen contrib for convolution kernels (#722)
  Makefile
  make/config.mk
  make/contrib/miopen.mk
  python/tvm/contrib/miopen.py
  python/tvm/target.py
  src/contrib/miopen/conv_forward.cc
  src/contrib/miopen/miopen_utils.cc
  src/contrib/miopen/miopen_utils.h
  tests/python/contrib/test_miopen.py
  tests/scripts/task_python_unittest.sh
Owners: @dmlc/tvm-committers

[ROCM] MIOpen contrib for convolution kernels (#722)
  Makefile
  make/config.mk
  make/contrib/miopen.mk
  python/tvm/contrib/miopen.py
  python/tvm/target.py
  src/contrib/miopen/conv_forward.cc
  src/contrib/miopen/miopen_utils.cc
  src/contrib/miopen/miopen_utils.h
  tests/python/contrib/test_miopen.py
  tests/scripts/task_python_unittest.sh
Owners: @dmlc/tvm-committers

add x86_64 target
  python/tvm/target.py
Owners: @dmlc/tvm-committers

add binary dense operator
  topi/python/topi/__init__.py
  topi/python/topi/generic/nn.py
  topi/python/topi/nn/__init__.py
  topi/python/topi/nn/bnn.py
  topi/python/topi/x86_64/__init__.py
  topi/python/topi/x86_64/binarize_pack.py
  topi/python/topi/x86_64/binary_dense.py
  topi/tests/python/test_topi_bnn.py
Owners: @Laurawly, @Huyuwei, @dmlc/tvm-committers

improve schedule
  topi/python/topi/x86/binary_dense.py
Owners: @dmlc/tvm-committers

remove x86 target
  python/tvm/target.py
  topi/python/topi/x86/binarize_pack.py
  topi/python/topi/x86/binary_dense.py
  topi/tests/python/test_topi_bnn.py
Owners: @dmlc/tvm-committers

rebase
  python/tvm/target.py
  topi/python/topi/__init__.py
  topi/python/topi/nn/bnn.py
  topi/python/topi/x86/__init__.py
  topi/python/topi/x86/binarize_pack.py
  topi/python/topi/x86/binary_dense.py
  topi/python/topi/x86_64/__init__.py
  topi/tests/python/test_topi_bnn.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

improve schedule
  topi/python/topi/x86/binary_dense.py
Owners: @dmlc/tvm-committers

[TOPI] 1bit dense operator on x86_64 (#629)
  topi/python/topi/generic/nn.py
  topi/python/topi/nn/__init__.py
  topi/python/topi/nn/bnn.py
  topi/python/topi/x86/__init__.py
  topi/python/topi/x86/binarize_pack.py
  topi/python/topi/x86/binary_dense.py
  topi/tests/python/test_topi_bnn.py
Owners: @dmlc/tvm-committers

[TOPI] 1bit dense operator on x86_64 (#629)
  topi/python/topi/generic/nn.py
  topi/python/topi/nn/__init__.py
  topi/python/topi/nn/bnn.py
  topi/python/topi/x86/__init__.py
  topi/python/topi/x86/binarize_pack.py
  topi/python/topi/x86/binary_dense.py
  topi/tests/python/test_topi_bnn.py
Owners: @dmlc/tvm-committers

add extern schedule for miopen
  tests/python/contrib/test_miopen.py
  topi/python/topi/cuda/__init__.py
  topi/python/topi/cuda/extern.py
  topi/python/topi/generic/__init__.py
  topi/python/topi/generic/extern.py
Owners: @dmlc/tvm-committers

fix comment
  topi/python/topi/cuda/extern.py
  topi/python/topi/generic/extern.py
Owners: @dmlc/tvm-committers

optionally dispatch to miopen from topi
  topi/python/topi/__init__.py
  topi/python/topi/nn/conv2d.py
  topi/python/topi/rocm/__init__.py
  topi/python/topi/rocm/conv2d_nchw.py
Owners: @Laurawly, @Huyuwei, @dmlc/tvm-committers

fix lint
  topi/python/topi/nn/conv2d.py
  topi/python/topi/rocm/conv2d_nchw.py
Owners: @dmlc/tvm-committers

check if current target is None
  topi/python/topi/nn/conv2d.py
  topi/python/topi/rocm/conv2d_nchw.py
Owners: @dmlc/tvm-committers

when there is no intrin func, using body for initialization. For issue 714.
  src/op/op_util.cc
  src/op/op_util.h
  src/op/tensorize.cc
Owners: @dmlc/tvm-committers

use generic dispatch for rocm conv2d
  topi/python/topi/nn/conv2d.py
  topi/python/topi/rocm/__init__.py
  topi/python/topi/rocm/conv2d.py
  topi/python/topi/rocm/conv2d_nchw.py
Owners: @dmlc/tvm-committers

fix lint
  topi/python/topi/rocm/conv2d.py
Owners: @dmlc/tvm-committers

fix workspace bug
  src/contrib/miopen/conv_forward.cc
Owners: @dmlc/tvm-committers
