Repository apache/tvm, changes with the owners that CODEOWNERS names for each.
All owners: @dmlc/tvm-committers, @aatluri, @javelinjs, @Laurawly, @Huyuwei

CODEOWNERS:

# Github owner file
# List of code reviewers for TVM modules

# Global reviewers
*        @dmlc/tvm-committers

# LLVM backends
src/llvm/*          @aatluri

# ROCM runtime
src/runtime/rocm/*    @aatluri

# JVM language
jvm/*   @javelinjs

# TOPI
topi/python/topi/*  @Laurawly @Huyuwei

remove blank line
  topi/python/topi/nn/conv2d.py
Owners: @dmlc/tvm-committers

remove blank line
  topi/python/topi/rocm/conv2d.py
Owners: @dmlc/tvm-committers

remove blank line
  topi/python/topi/cuda/extern.py
Owners: @dmlc/tvm-committers

[TOPI] add extern schedule for cudnn and miopen (#724)
  src/contrib/miopen/conv_forward.cc
  tests/python/contrib/test_miopen.py
  topi/python/topi/__init__.py
  topi/python/topi/cuda/__init__.py
  topi/python/topi/cuda/extern.py
  topi/python/topi/generic/__init__.py
  topi/python/topi/generic/extern.py
  topi/python/topi/rocm/__init__.py
  topi/python/topi/rocm/conv2d.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

[TOPI] add extern schedule for cudnn and miopen (#724)
  src/contrib/miopen/conv_forward.cc
  tests/python/contrib/test_miopen.py
  topi/python/topi/__init__.py
  topi/python/topi/cuda/__init__.py
  topi/python/topi/cuda/extern.py
  topi/python/topi/generic/__init__.py
  topi/python/topi/generic/extern.py
  topi/python/topi/rocm/__init__.py
  topi/python/topi/rocm/conv2d.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

add target.libs to target str representation
  python/tvm/target.py
Owners: @dmlc/tvm-committers

integrate cudnn into topi cuda
  topi/python/topi/cuda/__init__.py
  topi/python/topi/cuda/conv2d.py
  topi/python/topi/cuda/conv2d_hwcn.py
  topi/python/topi/cuda/conv2d_nchw.py
  topi/python/topi/rocm/conv2d.py
Owners: @dmlc/tvm-committers

Refine code per review comments, and add a test case.
  src/op/op_util.cc
  src/op/op_util.h
  src/op/tensorize.cc
  tests/python/unittest/test_schedule_tensorize_init_none.py
Owners: @dmlc/tvm-committers

append target.libs to target.options
  python/tvm/target.py
  src/codegen/llvm/llvm_common.cc
  tests/python/contrib/test_cudnn.py
  topi/python/topi/cuda/conv2d.py
  topi/python/topi/cuda/conv2d_hwcn.py
  topi/python/topi/cuda/conv2d_nchw.py
Owners: @dmlc/tvm-committers

[TOPI] CUDNN integration (#730)
  python/tvm/target.py
  src/codegen/llvm/llvm_common.cc
  tests/python/contrib/test_cudnn.py
  topi/python/topi/cuda/__init__.py
  topi/python/topi/cuda/conv2d.py
  topi/python/topi/cuda/conv2d_nchw.py
  topi/python/topi/rocm/conv2d.py
Owners: @dmlc/tvm-committers

[TOPI] CUDNN integration (#730)
  python/tvm/target.py
  src/codegen/llvm/llvm_common.cc
  tests/python/contrib/test_cudnn.py
  topi/python/topi/cuda/__init__.py
  topi/python/topi/cuda/conv2d.py
  topi/python/topi/cuda/conv2d_nchw.py
  topi/python/topi/rocm/conv2d.py
Owners: @dmlc/tvm-committers

Fix lint issues.
  src/op/tensorize.cc
Owners: @dmlc/tvm-committers

support dim-0 tensor in topi ops
  topi/python/topi/reduction.py
  topi/tests/python/test_topi_broadcast.py
  topi/tests/python/test_topi_reduce.py
  topi/tests/python/test_topi_transform.py
Owners: @Laurawly, @Huyuwei, @dmlc/tvm-committers

revert
  topi/tests/python/test_topi_transform.py
Owners: @dmlc/tvm-committers

[TOPI]Support dim-0 tensor in topi broadcast/reduce (#731)
  topi/python/topi/reduction.py
  topi/tests/python/test_topi_broadcast.py
  topi/tests/python/test_topi_reduce.py
Owners: @Laurawly, @Huyuwei, @dmlc/tvm-committers

[TOPI]Support dim-0 tensor in topi broadcast/reduce (#731)
  topi/python/topi/reduction.py
  topi/tests/python/test_topi_broadcast.py
  topi/tests/python/test_topi_reduce.py
Owners: @Laurawly, @Huyuwei, @dmlc/tvm-committers

[SCHEDULE] New Reduction Mode for Tensorize (#727)
  src/op/tensorize.cc
  tests/python/unittest/test_schedule_tensorize_init_none.py
Owners: @dmlc/tvm-committers

[SCHEDULE] New Reduction Mode for Tensorize (#727)
  src/op/tensorize.cc
  tests/python/unittest/test_schedule_tensorize_init_none.py
Owners: @dmlc/tvm-committers

Re-organize the tensorize test cases, and add a new case for none-reset mode.
  tests/python/unittest/test_schedule_tensorize.py
  tests/python/unittest/test_schedule_tensorize_init_none.py
Owners: @dmlc/tvm-committers

[SCHEDULE]enable partition const loop with build flag (#719)
  include/tvm/build_module.h
  include/tvm/ir_pass.h
  python/tvm/build_module.py
  src/api/api_pass.cc
  src/codegen/build_module.cc
  src/pass/loop_partition.cc
  tests/python/unittest/test_codegen_device.py
  tests/python/unittest/test_pass_loop_partition.py
Owners: @dmlc/tvm-committers

* add document for split_const_loop
  include/tvm/ir_pass.h
Owners: @dmlc/tvm-committers

Fix a typo.
  tests/python/unittest/test_schedule_tensorize.py
Owners: @dmlc/tvm-committers

Delete the unit case because merged it into test_schedule_tensorize.py already.
  tests/python/unittest/test_schedule_tensorize_init_none.py
Owners: @dmlc/tvm-committers

Re-organize the test cases for tensorize. (#736)
  tests/python/unittest/test_schedule_tensorize.py
  tests/python/unittest/test_schedule_tensorize_init_none.py
Owners: @dmlc/tvm-committers

Re-organize the test cases for tensorize. (#736)
  tests/python/unittest/test_schedule_tensorize.py
  tests/python/unittest/test_schedule_tensorize_init_none.py
Owners: @dmlc/tvm-committers

fix lint
  python/tvm/contrib/cudnn.py
  src/contrib/cudnn/conv_forward.cc
Owners: @dmlc/tvm-committers

use cudnn findalgo to choose the best algo
  python/tvm/contrib/cudnn.py
  src/contrib/cudnn/conv_forward.cc
  topi/python/topi/cuda/conv2d.py
Owners: @dmlc/tvm-committers

Let CUDNN choose the best algo (#734)
  python/tvm/contrib/cudnn.py
  src/contrib/cudnn/conv_forward.cc
  topi/python/topi/cuda/conv2d.py
Owners: @dmlc/tvm-committers

Let CUDNN choose the best algo (#734)
  python/tvm/contrib/cudnn.py
  src/contrib/cudnn/conv_forward.cc
  topi/python/topi/cuda/conv2d.py
Owners: @dmlc/tvm-committers

enable partition const loop with build flag (#732)
  include/tvm/build_module.h
  include/tvm/ir_pass.h
  python/tvm/build_module.py
  src/api/api_pass.cc
  src/codegen/build_module.cc
  src/pass/loop_partition.cc
  tests/python/unittest/test_codegen_device.py
  tests/python/unittest/test_pass_loop_partition.py
Owners: @dmlc/tvm-committers

enable partition const loop with build flag (#732)
  include/tvm/build_module.h
  include/tvm/ir_pass.h
  python/tvm/build_module.py
  src/api/api_pass.cc
  src/codegen/build_module.cc
  src/pass/loop_partition.cc
  tests/python/unittest/test_codegen_device.py
  tests/python/unittest/test_pass_loop_partition.py
Owners: @dmlc/tvm-committers

[IRbuild]Support automatically Name Loop Variable in IRBuilder (#719)
  python/tvm/ir_builder.py
Owners: @dmlc/tvm-committers

[WEB] update web runtime to latest emcc
  Makefile
  python/tvm/contrib/emscripten.py
  web/tvm_runtime.js
Owners: @dmlc/tvm-committers

using typical index [i, j, k] first, then i_suffix
  python/tvm/ir_builder.py
Owners: @dmlc/tvm-committers

keep inputs names
  python/tvm/ir_builder.py
Owners: @dmlc/tvm-committers

fix lint
  python/tvm/ir_builder.py
Owners: @dmlc/tvm-committers

improve comment of name
  python/tvm/ir_builder.py
Owners: @dmlc/tvm-committers

fix lint
  python/tvm/ir_builder.py
Owners: @dmlc/tvm-committers

[WEB] update web runtime to latest emcc (#742)
  Makefile
  python/tvm/contrib/emscripten.py
  web/tvm_runtime.js
Owners: @dmlc/tvm-committers

[WEB] update web runtime to latest emcc (#742)
  Makefile
  python/tvm/contrib/emscripten.py
  web/tvm_runtime.js
Owners: @dmlc/tvm-committers
