Repository apache/tvm, changes with the owners that CODEOWNERS names for each.
All owners: @dmlc/tvm-committers, @aatluri, @javelinjs, @Laurawly, @Huyuwei

CODEOWNERS:

# Github owner file
# List of code reviewers for TVM modules

# Global reviewers
*        @dmlc/tvm-committers

# LLVM backends
src/llvm/*          @aatluri

# ROCM runtime
src/runtime/rocm/*    @aatluri

# JVM language
jvm/*   @javelinjs

# TOPI
topi/python/topi/*  @Laurawly @Huyuwei

fix comments
  python/tvm/__init__.py
  python/tvm/build_module.py
  tests/python/unittest/test_pass_unroll.py
Owners: @dmlc/tvm-committers

Additional mali target support (#794)
  include/tvm/build_module.h
  python/tvm/target.py
  src/codegen/build_module.cc
Owners: @dmlc/tvm-committers

Additional mali target support (#794)
  include/tvm/build_module.h
  python/tvm/target.py
  src/codegen/build_module.cc
Owners: @dmlc/tvm-committers

Renamed TOPI lib to libtvm_topi
  CMakeLists.txt
  Makefile
  topi/python/setup.py
  topi/python/topi/_ffi/base.py
Owners: @dmlc/tvm-committers

Removed _ffi/base.py
  topi/python/topi/__init__.py
  topi/python/topi/_ffi/__init__.py
  topi/python/topi/_ffi/base.py
Owners: @Laurawly, @Huyuwei, @dmlc/tvm-committers

simplify expr in get_const_tuple
  topi/python/topi/util.py
Owners: @Laurawly, @Huyuwei

fix upsampling output shape
  topi/python/topi/nn/upsampling.py
Owners: @dmlc/tvm-committers

Remove _ffi from topi, now shared with tvm.
  python/tvm/_ffi/function.py
  topi/python/topi/_ffi/__init__.py
  topi/python/topi/_ffi/cpp_init.py
  topi/python/topi/cpp.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

Make libtvm_topi loading optional
  python/tvm/_ffi/libinfo.py
  topi/python/topi/__init__.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

simplify expr in get_const_tuple (#795)
  topi/python/topi/nn/upsampling.py
  topi/python/topi/util.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

simplify expr in get_const_tuple (#795)
  topi/python/topi/nn/upsampling.py
  topi/python/topi/util.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

Fix compiler warnings
  topi/include/topi/broadcast.h
  topi/include/topi/detail/broadcast.h
Owners: @dmlc/tvm-committers

Fix lint
  python/tvm/_ffi/libinfo.py
Owners: @dmlc/tvm-committers

Fix lint
  python/tvm/_ffi/libinfo.py
Owners: @dmlc/tvm-committers

Fix lint
  topi/python/topi/__init__.py
  topi/python/topi/cpp.py
Owners: @Laurawly, @Huyuwei

Fix build error by making new libs argument to Target optional
  include/tvm/build_module.h
Owners: @dmlc/tvm-committers

fix comments
  python/tvm/build_module.py
Owners: @dmlc/tvm-committers

Support dump ir for each pass (#693) (#791)
  python/tvm/build_module.py
  tests/python/unittest/test_pass_unroll.py
Owners: @dmlc/tvm-committers

Support dump ir for each pass (#693) (#791)
  python/tvm/build_module.py
  tests/python/unittest/test_pass_unroll.py
Owners: @dmlc/tvm-committers

Added C++ Target type interop. Added registration of remaining C++ ops and schedules. Added test of broadcast ops
  topi/python/topi/cpp.py
  topi/src/topi.cc
  topi/tests/python_cpp/test_topi_broadcast.py
Owners: @Laurawly, @Huyuwei, @dmlc/tvm-committers

Fix lint
  topi/python/topi/cpp.py
Owners: @Laurawly, @Huyuwei

More log.
  src/runtime/opengl/opengl_device_api.cc
Owners: @dmlc/tvm-committers

short circuit threadIdx in codegen for now
  src/codegen/codegen_opengl.cc
Owners: @dmlc/tvm-committers

final touch of the runtime
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
Owners: @dmlc/tvm-committers

Extend OpenGL backend to run "empty" functions.
  include/tvm/runtime/c_runtime_api.h
  python/tvm/__init__.py
  python/tvm/_ffi/runtime_ctypes.py
  python/tvm/ndarray.py
  python/tvm/target.py
  src/codegen/codegen_opengl.cc
  src/runtime/c_runtime_api.cc
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
  src/runtime/opengl/opengl_module.h
Owners: @dmlc/tvm-committers

Directly return if threadIdx.x < thread_extent.
  src/codegen/codegen_opengl.cc
  src/codegen/codegen_opengl.h
  src/runtime/opengl/opengl_module.cc
  src/runtime/opengl/opengl_module.h
Owners: @dmlc/tvm-committers

change opencl text to opengl
  src/codegen/build_opengl.cc
Owners: @dmlc/tvm-committers

Enable local OpenGL tests in cpu & gpu Jenkins.
  Jenkinsfile
  src/codegen/build_opengl.cc
  tests/ci_build/Dockerfile.cpu
  tests/ci_build/Dockerfile.gpu
  tests/ci_build/install/ubuntu_install_opengl.sh
  tests/scripts/task_python_integration.sh
  tests/webgl/README.md
  tests/webgl/test_local_gemm.py
  tests/webgl/test_local_save_load.py
  tests/webgl/test_remote_save_load.py
Owners: @dmlc/tvm-committers

Change emcc optmization flag back to -Oz.
  Makefile
  python/tvm/contrib/emscripten.py
  python/tvm/exec/rpc_proxy.py
Owners: @dmlc/tvm-committers

Correctly handle OpenGL argument.
  python/tvm/ndarray.py
  python/tvm/schedule.py
  src/codegen/build_opengl.cc
  src/codegen/codegen_opengl.cc
  src/codegen/codegen_opengl.h
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
  src/runtime/opengl/opengl_module.h
  tests/webgl/test_remote_save_load.py
Owners: @dmlc/tvm-committers

Trying to add OpenGL runtime to emscripten'ed web runtime.
  Makefile
  web/web_runtime.cc
Owners: @dmlc/tvm-committers

Improve OpenGL texture. Now test_runtime_ndarray.py passes.
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/rpc/rpc_session.cc
  tests/python/unittest/test_runtime_ndarray.py
Owners: @dmlc/tvm-committers

Forgot build_opengl.cc; Modify glfw3 cmake for Linux.
  CMakeLists.txt
  src/codegen/build_opengl.cc
Owners: @dmlc/tvm-committers

Fix code style according to lint.
  src/codegen/codegen_opengl.cc
  src/codegen/codegen_opengl.h
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_module.cc
  src/schedule/schedule_lang.cc
Owners: @dmlc/tvm-committers

remove const of PrintType
  src/codegen/codegen_opengl.cc
  src/codegen/codegen_opengl.h
Owners: @dmlc/tvm-committers

add render function
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
Owners: @dmlc/tvm-committers

Some fixes according to review.
  include/tvm/runtime/c_runtime_api.h
  python/tvm/target.py
  src/codegen/codegen_opengl.cc
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
  src/schedule/schedule_lang.cc
Owners: @dmlc/tvm-committers

Address review comments.
  src/codegen/codegen_opengl.cc
  src/codegen/codegen_opengl.h
  src/runtime/c_runtime_api.cc
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/opengl/opengl_module.cc
  src/schedule/schedule_lang.cc
  tests/webgl/test_remote_save_load.py
Owners: @dmlc/tvm-committers

Cleanup OpenGLArgKind and OpenGLShader.
  src/codegen/codegen_opengl.cc
  src/runtime/module.cc
  src/runtime/opengl/opengl_module.cc
  src/runtime/opengl/opengl_module.h
  tests/webgl/test_local_save_load.py
Owners: @dmlc/tvm-committers

copy opengl initialization code into opengl_device_api.cc
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
Owners: @dmlc/tvm-committers
