Repository apache/tvm, changes with the owners that CODEOWNERS names for each.
All owners: @dmlc/tvm-committers, @aatluri, @javelinjs, @Laurawly, @Huyuwei

CODEOWNERS:

# Github owner file
# List of code reviewers for TVM modules

# Global reviewers
*        @dmlc/tvm-committers

# LLVM backends
src/llvm/*          @aatluri

# ROCM runtime
src/runtime/rocm/*    @aatluri

# JVM language
jvm/*   @javelinjs

# TOPI
topi/python/topi/*  @Laurawly @Huyuwei

Add type code and bits to AllocWorkspace. (#831)
  include/tvm/runtime/c_backend_api.h
  include/tvm/runtime/device_api.h
  src/codegen/codegen_opengl.cc
  src/codegen/stack_vm/codegen_stack_vm.cc
  src/codegen/stack_vm/stack_vm.cc
  src/pass/lower_tvm_builtin.cc
  src/pass/split_host_device.cc
  src/runtime/c_runtime_api.cc
  src/runtime/cpu_device_api.cc
  src/runtime/cuda/cuda_device_api.cc
  src/runtime/metal/metal_common.h
  src/runtime/metal/metal_device_api.mm
  src/runtime/opencl/opencl_common.h
  src/runtime/opencl/opencl_device_api.cc
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/rocm/rocm_device_api.cc
  tests/webgl/test_local_multi_stage.py
Owners: @dmlc/tvm-committers, @aatluri

Add type code and bits to AllocWorkspace. (#831)
  include/tvm/runtime/c_backend_api.h
  include/tvm/runtime/device_api.h
  src/codegen/codegen_opengl.cc
  src/codegen/stack_vm/codegen_stack_vm.cc
  src/codegen/stack_vm/stack_vm.cc
  src/pass/lower_tvm_builtin.cc
  src/pass/split_host_device.cc
  src/runtime/c_runtime_api.cc
  src/runtime/cpu_device_api.cc
  src/runtime/cuda/cuda_device_api.cc
  src/runtime/metal/metal_common.h
  src/runtime/metal/metal_device_api.mm
  src/runtime/opencl/opencl_common.h
  src/runtime/opencl/opencl_device_api.cc
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
  src/runtime/rocm/rocm_device_api.cc
  tests/webgl/test_local_multi_stage.py
Owners: @dmlc/tvm-committers, @aatluri

fix opengl to OpenGL/gl3.h for APPLE
  src/runtime/opengl/opengl_common.h
Owners: @dmlc/tvm-committers

Change libtopi.so to libtvm_topi.so in Jenkinsfile
  Jenkinsfile
Owners: @dmlc/tvm-committers

Fix Jenkins pipeline
  Jenkinsfile
Owners: @dmlc/tvm-committers

Fix Jenkins pipeline (#835)
  Jenkinsfile
Owners: @dmlc/tvm-committers

Fix Jenkins pipeline (#835)
  Jenkinsfile
Owners: @dmlc/tvm-committers

[TOPI] Fix compiler warning in topi cpp
  topi/include/topi/detail/broadcast.h
Owners: @dmlc/tvm-committers

[TOPI] Fix compiler warning in topi cpp (#837)
  topi/include/topi/detail/broadcast.h
Owners: @dmlc/tvm-committers

[TOPI] Fix compiler warning in topi cpp (#837)
  topi/include/topi/detail/broadcast.h
Owners: @dmlc/tvm-committers

use glfw3 to include gl.h header
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
Owners: @dmlc/tvm-committers

fix opengl runtime to use OpenGL/gl3.h for macOS (#833)
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
Owners: @dmlc/tvm-committers

fix opengl runtime to use OpenGL/gl3.h for macOS (#833)
  src/runtime/opengl/opengl_common.h
  src/runtime/opengl/opengl_device_api.cc
Owners: @dmlc/tvm-committers

Add a data member to the Stage class so that a Stage object knows what Schedule object it belongs to.
  include/tvm/schedule.h
  src/schedule/schedule_dataflow_rewrite.cc
  src/schedule/schedule_lang.cc
Owners: @dmlc/tvm-committers

First fixed lint's original warning. Then lint gave a false positive so I had to use NOLINT.
  include/tvm/schedule.h
Owners: @dmlc/tvm-committers

Update workspace_pool.cc
  src/runtime/workspace_pool.cc
Owners: @dmlc/tvm-committers

Update workspace_pool.cc
  src/runtime/workspace_pool.cc
Owners: @dmlc/tvm-committers

fixed #841 (#845)
  src/runtime/workspace_pool.cc
Owners: @dmlc/tvm-committers

fixed #841 (#845)
  src/runtime/workspace_pool.cc
Owners: @dmlc/tvm-committers

[Pass] Improve storage rewrite
  src/pass/storage_rewrite.cc
Owners: @dmlc/tvm-committers

fix ci
  tests/python/unittest/test_pass_storage_rewrite.py
Owners: @dmlc/tvm-committers

[PASS] Improve storage rewrite(#846) (#847)
  src/pass/storage_rewrite.cc
  tests/python/unittest/test_pass_storage_rewrite.py
Owners: @dmlc/tvm-committers

[PASS] Improve storage rewrite(#846) (#847)
  src/pass/storage_rewrite.cc
  tests/python/unittest/test_pass_storage_rewrite.py
Owners: @dmlc/tvm-committers

fix comment
  src/pass/storage_rewrite.cc
Owners: @dmlc/tvm-committers

fix comment
  src/pass/storage_rewrite.cc
Owners: @dmlc/tvm-committers

[TOPI] Fix cpp library dependency on MAC
  Makefile
  python/tvm/_ffi/libinfo.py
  topi/include/topi/detail/extern.h
  topi/tests/python_cpp/test_topi_clip.py
Owners: @dmlc/tvm-committers

[TOPI] Fix cpp library dependency on MAC (#852)
  Makefile
  python/tvm/_ffi/libinfo.py
  topi/include/topi/detail/extern.h
  topi/tests/python_cpp/test_topi_clip.py
Owners: @dmlc/tvm-committers

[TOPI] Fix cpp library dependency on MAC (#852)
  Makefile
  python/tvm/_ffi/libinfo.py
  topi/include/topi/detail/extern.h
  topi/tests/python_cpp/test_topi_clip.py
Owners: @dmlc/tvm-committers

[RELEASE] Release note for 0.2
  NEWS.md
  python/tvm/_ffi/libinfo.py
Owners: @dmlc/tvm-committers

[RELEASE] Release note for 0.2 (#853)
  NEWS.md
  python/tvm/_ffi/libinfo.py
Owners: @dmlc/tvm-committers

[RELEASE] Release note for 0.2 (#853)
  NEWS.md
  python/tvm/_ffi/libinfo.py
Owners: @dmlc/tvm-committers

Since AutoTensorize is defined on Schedule and not on Stage class, we don't need to keep a pointer from a Stage object to its parent Schedule object
  include/tvm/schedule.h
  src/schedule/schedule_dataflow_rewrite.cc
  src/schedule/schedule_lang.cc
Owners: @dmlc/tvm-committers

Added API and the outline of the implementation of autotensorize
  include/tvm/schedule.h
  python/tvm/schedule.py
  src/api/api_lang.cc
  src/schedule/schedule_lang.cc
Owners: @dmlc/tvm-committers

copy intrinsic now can include typecast
  src/pass/inject_copy_intrin.cc
Owners: @dmlc/tvm-committers

copy intrinsic now can include typecast (#855)
  src/pass/inject_copy_intrin.cc
Owners: @dmlc/tvm-committers

copy intrinsic now can include typecast (#855)
  src/pass/inject_copy_intrin.cc
Owners: @dmlc/tvm-committers

Add missing using to C++ TOPI nn.h
  topi/include/topi/nn.h
Owners: @dmlc/tvm-committers

Fixed error where broadcast_to fails if shape is tuple of IntImm
  topi/python/topi/broadcast.py
Owners: @Laurawly, @Huyuwei

Change get_const_int to support int as input
  topi/python/topi/broadcast.py
  topi/python/topi/util.py
Owners: @Laurawly, @Huyuwei

Update HalideIR submodule to include TVM_STATIC_IR_FUNCTOR_REGISTER (#857)
  topi/include/topi/nn.h
  topi/python/topi/broadcast.py
  topi/python/topi/util.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei
