Repository apache/tvm, changes with the owners that CODEOWNERS names for each.
All owners: @dmlc/tvm-committers, @aatluri, @javelinjs, @Laurawly, @Huyuwei

CODEOWNERS:

# Github owner file
# List of code reviewers for TVM modules

# Global reviewers
*        @dmlc/tvm-committers

# LLVM backends
src/llvm/*          @aatluri

# ROCM runtime
src/runtime/rocm/*    @aatluri

# JVM language
jvm/*   @javelinjs

# TOPI
topi/python/topi/*  @Laurawly @Huyuwei

Update HalideIR submodule to include TVM_STATIC_IR_FUNCTOR_REGISTER (#857)
  topi/include/topi/nn.h
  topi/python/topi/broadcast.py
  topi/python/topi/util.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

fixed lint errors
  src/api/api_lang.cc
  src/schedule/schedule_lang.cc
Owners: @dmlc/tvm-committers

1) autotensorize -> auto_tensorize 2) fixed style issues
  include/tvm/schedule.h
  src/api/api_lang.cc
  src/schedule/schedule_lang.cc
Owners: @dmlc/tvm-committers

1) defined a variation of CHECK* macros (called COND_CHECK*) 2) Modified ArgBinder class to *return* or *quit* when an unsatisfiable constraint is encountered
  include/tvm/logging.h
  src/pass/arg_binder.cc
  src/pass/arg_binder.h
Owners: @dmlc/tvm-committers

fix doc
  include/tvm/ir_pass.h
Owners: @dmlc/tvm-committers

Fix boolean type
  src/codegen/spirv/ir_builder.cc
Owners: @dmlc/tvm-committers

enhance inject_copy_intin to support of pragma stmt with no loops
  src/pass/inject_copy_intrin.cc
  tests/python/unittest/test_pass_inject_copy_intrin.py
Owners: @dmlc/tvm-committers

fix cpplint errors
  src/pass/inject_copy_intrin.cc
Owners: @dmlc/tvm-committers

fix cpplint error of !
  src/pass/inject_copy_intrin.cc
Owners: @dmlc/tvm-committers

TOPI C++ bugfixes
  topi/include/topi/cuda/dense.h
  topi/include/topi/cuda/extern.h
  topi/include/topi/cuda/injective.h
  topi/include/topi/cuda/pooling.h
  topi/include/topi/cuda/softmax.h
  topi/include/topi/detail/array_utils.h
  topi/include/topi/detail/constant_utils.h
  topi/include/topi/detail/extern.h
  topi/include/topi/detail/fuse.h
  topi/include/topi/detail/pad_utils.h
  topi/include/topi/generic/default.h
  topi/include/topi/generic/extern.h
  topi/include/topi/generic/injective.h
  topi/include/topi/nn/flatten.h
  topi/include/topi/rocm/dense.h
  topi/include/topi/x86/bnn.h
  topi/include/topi/x86/default.h
  topi/include/topi/x86/injective.h
Owners: @dmlc/tvm-committers

Fix lint
  topi/include/topi/generic/default.h
  topi/include/topi/x86/default.h
Owners: @dmlc/tvm-committers

Fix boolean type (#862)
  src/codegen/spirv/ir_builder.cc
Owners: @dmlc/tvm-committers

Fix boolean type (#862)
  src/codegen/spirv/ir_builder.cc
Owners: @dmlc/tvm-committers

TOPI C++ bugfixes (#864)
  topi/include/topi/cuda/dense.h
  topi/include/topi/cuda/extern.h
  topi/include/topi/cuda/injective.h
  topi/include/topi/cuda/pooling.h
  topi/include/topi/cuda/softmax.h
  topi/include/topi/detail/array_utils.h
  topi/include/topi/detail/constant_utils.h
  topi/include/topi/detail/extern.h
  topi/include/topi/detail/fuse.h
  topi/include/topi/detail/pad_utils.h
  topi/include/topi/generic/default.h
  topi/include/topi/generic/extern.h
  topi/include/topi/generic/injective.h
  topi/include/topi/nn/flatten.h
  topi/include/topi/rocm/dense.h
  topi/include/topi/x86/bnn.h
  topi/include/topi/x86/default.h
  topi/include/topi/x86/injective.h
Owners: @dmlc/tvm-committers

TOPI C++ bugfixes (#864)
  topi/include/topi/cuda/dense.h
  topi/include/topi/cuda/extern.h
  topi/include/topi/cuda/injective.h
  topi/include/topi/cuda/pooling.h
  topi/include/topi/cuda/softmax.h
  topi/include/topi/detail/array_utils.h
  topi/include/topi/detail/constant_utils.h
  topi/include/topi/detail/extern.h
  topi/include/topi/detail/fuse.h
  topi/include/topi/detail/pad_utils.h
  topi/include/topi/generic/default.h
  topi/include/topi/generic/extern.h
  topi/include/topi/generic/injective.h
  topi/include/topi/nn/flatten.h
  topi/include/topi/rocm/dense.h
  topi/include/topi/x86/bnn.h
  topi/include/topi/x86/default.h
  topi/include/topi/x86/injective.h
Owners: @dmlc/tvm-committers

Remove matmul compute
  topi/python/topi/math.py
  topi/tests/python/test_topi_math.py
Owners: @Laurawly, @Huyuwei, @dmlc/tvm-committers

[TOPI] Add compute for more operators
  topi/python/topi/__init__.py
  topi/python/topi/math.py
  topi/python/topi/reduction.py
  topi/python/topi/tensor.py
  topi/python/topi/transform.py
  topi/tests/python/test_topi_math.py
  topi/tests/python/test_topi_tensor.py
  topi/tests/python/test_topi_transform.py
Owners: @Laurawly, @Huyuwei, @dmlc/tvm-committers

Remove device except llvm
  topi/python/topi/reduction.py
  topi/tests/python/test_topi_math.py
  topi/tests/python/test_topi_transform.py
Owners: @Laurawly, @Huyuwei, @dmlc/tvm-committers

Address coments
  topi/python/topi/transform.py
Owners: @Laurawly, @Huyuwei

Add outtype to boolean operator
  python/tvm/api.py
  topi/python/topi/math.py
  topi/python/topi/tensor.py
  topi/tests/python/test_topi_tensor.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

Address comments
  topi/python/topi/__init__.py
  topi/python/topi/math.py
  topi/python/topi/tensor.py
  topi/python/topi/transform.py
  topi/tests/python/test_topi_math.py
  topi/tests/python/test_topi_tensor.py
  topi/tests/python/test_topi_transform.py
Owners: @Laurawly, @Huyuwei, @dmlc/tvm-committers

[TOPI] Add compute for more operators (#849)
  python/tvm/api.py
  topi/python/topi/__init__.py
  topi/python/topi/tensor.py
  topi/python/topi/transform.py
  topi/tests/python/test_topi_math.py
  topi/tests/python/test_topi_tensor.py
  topi/tests/python/test_topi_transform.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

[TOPI] Add compute for more operators (#849)
  python/tvm/api.py
  topi/python/topi/__init__.py
  topi/python/topi/tensor.py
  topi/python/topi/transform.py
  topi/tests/python/test_topi_math.py
  topi/tests/python/test_topi_tensor.py
  topi/tests/python/test_topi_transform.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

Note about CodeGenC's Range of Use
  src/codegen/codegen_c.h
Owners: @dmlc/tvm-committers

Note about CodeGenC's Range of Use (#866)
  src/codegen/codegen_c.h
Owners: @dmlc/tvm-committers

Note about CodeGenC's Range of Use (#866)
  src/codegen/codegen_c.h
Owners: @dmlc/tvm-committers

Fix Vulkan Build, add tanh to llvm instrinsic, fix halideIR
  Jenkinsfile
  src/codegen/llvm/intrin_rule_llvm.cc
  src/codegen/spirv/ir_builder.cc
  tests/ci_build/Dockerfile.gpu
  tests/ci_build/install/ubuntu_install_vulkan.sh
  topi/tests/python/test_topi_math.py
Owners: @dmlc/tvm-committers

Fix bugs with C++ TOPI flatten and relu
  topi/include/topi/nn.h
  topi/include/topi/nn/flatten.h
Owners: @dmlc/tvm-committers

Added regression tests. Fixed typo in CMakeLists.txt. Fixed topi cpp import removed.
  CMakeLists.txt
  topi/python/topi/__init__.py
  topi/tests/python_cpp/test_topi_basic.py
  topi/tests/python_cpp/test_topi_relu.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

fix llvm tanh
  src/codegen/llvm/intrin_rule_llvm.cc
  topi/tests/python/test_topi_math.py
Owners: @dmlc/tvm-committers

Fix Vulkan Build, add tanh to llvm instrinsic, fix halideIR (#868)
  Jenkinsfile
  src/codegen/llvm/intrin_rule_llvm.cc
  src/codegen/spirv/ir_builder.cc
  tests/ci_build/Dockerfile.gpu
  tests/ci_build/install/ubuntu_install_vulkan.sh
  topi/tests/python/test_topi_math.py
Owners: @dmlc/tvm-committers

Fix Vulkan Build, add tanh to llvm instrinsic, fix halideIR (#868)
  Jenkinsfile
  src/codegen/llvm/intrin_rule_llvm.cc
  src/codegen/spirv/ir_builder.cc
  tests/ci_build/Dockerfile.gpu
  tests/ci_build/install/ubuntu_install_vulkan.sh
  topi/tests/python/test_topi_math.py
Owners: @dmlc/tvm-committers

Fix bugs with C++ TOPI flatten and relu (#869)
  CMakeLists.txt
  topi/include/topi/nn.h
  topi/include/topi/nn/flatten.h
  topi/python/topi/__init__.py
  topi/tests/python_cpp/test_topi_basic.py
  topi/tests/python_cpp/test_topi_relu.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

Fix bugs with C++ TOPI flatten and relu (#869)
  CMakeLists.txt
  topi/include/topi/nn.h
  topi/include/topi/nn/flatten.h
  topi/python/topi/__init__.py
  topi/tests/python_cpp/test_topi_basic.py
  topi/tests/python_cpp/test_topi_relu.py
Owners: @dmlc/tvm-committers, @Laurawly, @Huyuwei

enhance detectLinearEquation to support with no loop vars
  src/arithmetic/detect_linear_equation.cc
  src/pass/inject_copy_intrin.cc
Owners: @dmlc/tvm-committers

fix cpplint errors
  src/arithmetic/detect_linear_equation.cc
  src/pass/inject_copy_intrin.cc
Owners: @dmlc/tvm-committers

Added +x permission to task_cpp_topi.sh. Added C++ topi tests to Jenkinsfile
  Jenkinsfile
  tests/scripts/task_cpp_topi.sh
Owners: @dmlc/tvm-committers

enhance pragma to support single point copy (#863)
  src/arithmetic/detect_linear_equation.cc
  src/pass/inject_copy_intrin.cc
  tests/python/unittest/test_pass_inject_copy_intrin.py
Owners: @dmlc/tvm-committers

enhance pragma to support single point copy (#863)
  src/arithmetic/detect_linear_equation.cc
  src/pass/inject_copy_intrin.cc
  tests/python/unittest/test_pass_inject_copy_intrin.py
Owners: @dmlc/tvm-committers

Fixed test_topi_math.py
  topi/tests/python/test_topi_math.py
Owners: @dmlc/tvm-committers
